.signal text {
    fill: red;
}
.signal text:hover {
    fill: #aaaaaa
}
.note rect {
    fill: #ffff00;
}

.actor rect{
    fill: #6c757d;
}

.title rect, .title path{
    fill: #ffffFf ;
}

.actor text{
    fill: #FFF;
}
.hide{
    display: none;
}

#scroll1 div {
    height: 20px;
    margin: 0 1%;
}

.header{
    position:sticky;
    top: 0 ;
}